


/* Extra large screens, TV */
@media (min-width: 1201px) {
    .ppp{
        font-size: 23px;
       }
       .alert h2{
        font-size: 20px;
        font-weight: bold;
       }
    
       .list {
        margin-right: 18px;
    }
    
    .percentage{
        font-size: 8px;
       }
    
       .orders{
        padding-top: 44px;
        margin: 0 0px;
       }
}

/* Desktops, large screens */
@media (min-width: 1025px) and (max-width:1200px ) {
    .ppp{
        font-size: 20px;
       }
       .alert h2{
        font-size: 20px;
        font-weight: bold;
       }
    
       .list {
        margin-right: 18px;
    }
    
    .percentage{
        font-size: 8px;
       }
    
      

       .orders{
        padding-top: 44px;
        margin: 0 0px;
        width: 181px;
        text-align: center;
       }

       .count_icon {
        width: 37px;
       }
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .ppp{
        font-size: 18px;
       }
       .alert h2{
        font-size: 20px;
        font-weight: bold;
       }
    
       .list {
        margin-right: 18px;
    }
    
    .percentage{
        font-size: 8px;
       }
    
       .orders{
        padding-top: 44px;
        margin: 0 0px;
        width: 166px;
        text-align: center;
       }

       .count_icon {
        width: 34px;
       }

      
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .ppp{
        font-size: 15px;
   }

   .orders{
    padding-top: 44px;
    margin: 0 auto;
    margin-top: 7px;
   }

   .count_icon{
    width: 24%;
    margin-left: 9px;
   }

   #count{
    font-size: 23px;
   }

   .percentage{
    font-size: 7px;
   }

   .alert h2{
    font-size: 20px;
    font-weight: bold;
   }

   .list{
    margin-right: 22px;
    font-weight: normal;
   }

   .circle-info {
    height: 177px;
    width: 100%;
   }

   .img-makeen {
    width: 86%;
    /* margin-top: 37px;
    margin-left: 7px; */
   }

   .img-technical-support  {
    width: 57%;
    margin-top: 20px;
    margin-left: 38px;
   }
   .img-checklist {
    width: 57%;
    margin-top: 20px;
    margin-left: 44px;
}
   .img-CustomerSupport {
    width: 55%;
    margin-top: 24px;
    margin-left: 21px;
}
   .img-listcall {
    width: 46%;
    margin-top: 26px;
    margin-left: 24px;
}
  .img-system{
    width: 47%;
    padding-top: 29px;
    margin-left: 26px;
}

  .img-cyber {
    width: 47%;
    padding-top: 29px;
    margin-left: 26px;
}
  .card-title {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.single-chart{
    margin: 7px auto;
}

.alert{
    margin-top: 20px;
}

.orders{
    width: 180px;
    text-align: center;
}
}

/* Mobile devices */
@media (min-width: 321px) and (max-width: 480px) {
    .ppp {
        font-size: 23px;
        font-weight: normal;
    }
    .pp{
        font-size: 2.5px;
    }

    .percentage{
        font-size: 7px;
       }

       .new_ord {
        width: 10%;
        float: right;
        margin-left: 11px;
       }

       .alert h2{
        font-size: 17px;
        
       }

       .alert ul li {
        font-size: 17px;
        font-weight: normal;
       }

       .alert ul {
        padding-right: 13px;
       }
    
       .single-chart{
        width: 191px;
        margin: 7px auto;
        border-radius: 25px;
        background: white;
        padding: 10px;
        height: auto;
        box-shadow: -5px 4px 12px -5px;
       }

       .orders{
        width: 208px;
        margin: 0 auto;
        margin-top: 7px;
       }

       .card-circle{
           height: 200px;
           width: 200px;
       }

       .alert{
        margin-top: 15px;
       }

       .list {
        margin-right: 5px;
    }

    .ct-socials {
        display: none;
    }
}

/* Mobile devices */
@media (max-width: 320px) {
    .ppp {
        font-size: 18px;
        font-weight: normal;
    }
    .pp{
        font-size: 2.5px;
    }

    .percentage{
        font-size: 7px;
       }

       .new_ord {
        width: 13%;
        float: right;
        margin-left: 11px;
       }
       .alert{
        width: 100%;
        padding: 20px 0;
        margin-top: 20px;
       }

       .alert h2{
        font-size: 17px;
        
       }

       .alert ul li {
        font-size: 17px;
        font-weight: normal;
       }

       .alert ul {
        padding-right: 13px;
       }
    
       .single-chart{
        width: 166px;
        margin-top: 10px;
       }

       .orders{
        width: 208px;
        margin: 0 auto;
        margin-top: 10px;
       }

       .list {
        margin-right: 0px;
    }
    .orders{
        width: 177px;
    }

    .count_icon {
        width: 35px;
    }

    .ct-socials {
        display: none;
    }
}